.searchSection {
  position: relative;
  border: 1px solid #527853;
  margin: 150px 0 50px 0;
  display: flex;
  flex-direction: column;
  box-shadow: 5px 5px 5px #f5f5f5;
}

.search {
  padding-left: 30px;
  width: 400px;
  height: 50px;
  border: none;
}

.searchBtn {
  border: none;
  background-color: white;
  width: 100px;
  height: 50px;
  color: #527853;
}
/* 실시간 검색창 */
.resultBooks {
  display: flex;
  border: 1px solid #527853;
  z-index: 1;
  position: absolute;
  left: 0;
  top: 50px;
  width: 750px;
  height: 400px;
  background-color: white;
  padding: 20px;
  overflow: hidden;
}
/* 왼쪽 검색어 출력*/
.resultTitle {
  width: 50%;
}

.resultBooks ul {
  display: flex;
  flex-direction: column;
  list-style: none;
}

.resultBooks ul a {
  text-decoration: none;
  color: black;
}

.resultBooks ul a :hover {
  background-color: #dadada;
}

.resultBooks ul a li {
  margin-top: 20px;
}

/* 오른쪽 디테일 출력 */

.resultDetail {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
}
.resultDetailHead {
  padding-top: 20px;
  padding-left: 20px;
  display: flex;
  justify-content: space-between;
  height: 50%;
}

.resultDetailCover {
  width: 40%;
  margin-right: 10px;
}
.resultDetailCover img {
  width: 120px;
  height: 150px;
}

.resultDetailBody {
  border: 1px solid #527853;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  height: 50%;
  font-size: 0.8rem;
}
