.searchBookList {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.searchBook {
  display: flex;
  max-width: 960px;
  width: 100%;
  margin-bottom: 50px;
  box-shadow: 5px 5px 2px 1px rgba(216, 216, 216, 0.2);
}

.book_info {
  margin-top: 20px;
  margin-left: 20px;
}

.book_info a {
  text-decoration: none;
  color: black;
  font-weight: 800;
}
.book_info p {
  margin-bottom: 20px;
}

/* 정렬 */
.sort {
  display: flex;
  width: 100%;
  max-width: 960px;
  margin-bottom: 50px;
  justify-content: left;
}
.sortList {
  width: 90%;
  list-style: none;
  display: flex;
}
.sortList li {
  padding: 15px;
  cursor: pointer;
}
.sort select {
  width: 100px;
}

/* 선택된 정렬 */
.selected {
  background-color: rgb(227, 227, 227);
}
