.searchBookList {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* 정렬 */
.sort {
  display: flex;
  width: 100%;
  max-width: 960px;
  margin-bottom: 50px;
  justify-content: left;
}
.sortList {
  width: 90%;
  list-style: none;
  display: flex;
}
.sortList li {
  padding: 15px;
  cursor: pointer;
}
.sort select {
  width: 100px;
}

/* 선택된 정렬 */
.selected {
  background-color: rgb(227, 227, 227);
}

/* SearchBookCard 컴포넌트 스타일 */
.searchBook {
  display: flex;
  max-width: 960px;
  width: 100%;
  height: 100%;
  margin-bottom: 50px;
  box-shadow: 5px 5px 2px 1px rgba(216, 216, 216, 0.2);
}
.searchBookLeft {
  display: flex;
  width: 70%;
}
.book_info {
  margin-top: 40px;
  margin-left: 30px;
}

.book_title {
  margin-bottom: 20px;
}
.book_info a {
  text-decoration: none;
  color: black;
  font-weight: 800;
  font-size: 1.1rem;
}
.book_info p {
  margin-bottom: 20px;
}

.SearchBookCard-Btn {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.SearchBookCard-Btn button {
  margin: 10px;
  width: 40%;
  height: 45px;
}
