/* 메인 */

/* 메인 배너 */
.main_banner {
  position: relative;
  box-shadow: 7px 10px 10px #e3e3e3;
}
.main_banner_text {
  opacity: 0.8;
  text-align: center;
  padding-top: 20px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: white;
  position: absolute;
  top: 30%;
  left: 5%;
  color: black;
  font-size: 2.5rem;
  font-weight: 900;
  z-index: 1;
  color: #557c55;
}

/* 메인 배너 끝 */

.main_title {
  margin-top: 10%;
}
.main_sub_container {
  display: flex;
}
.main_sub {
  margin: 30px;
  width: 300px;
  height: 300px;
  background-color: antiquewhite;
}

.main_sub2 {
  margin: 30px;
  width: 500px;
  height: 300px;
  background-color: antiquewhite;
}

footer {
  display: flex;
  justify-content: center;
  padding-bottom: 5%;
  align-items: end;
  width: 100%;
  height: 200px;
}
